
@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="~/css/holidays.css" type="text/css" />
</head>
<body>
    <div id="centre">
        <h2>ОРГАНИЗИРАНИ ПОЧИВКИ - ЛЯТО 2019</h2>

        <div class="grid-container">
            <div>
                <img src="https://www.melitours.bg/wp-content/uploads/2018/12/Sea_Sand_and_Shells_Background.jpg" style="width:200px">
                <h3>Олимпийска ривиера</h3>
            </div>
            <div>
                <img src="https://www.melitours.bg/wp-content/uploads/2018/12/kalogria-beach-new4.jpg" style="width:200px">
                <h3>Пелопонес</h3>
            </div>
            <div>
                <img src="https://www.melitours.bg/wp-content/uploads/2018/12/summer3.jpg" style="width:200px">
                <h3>Халкидики – Касандра</h3>
            </div>
            <div>
                <a href="http://www.test.maxsystem-bg.com/sithonia.html">
                    <img src="https://www.melitours.bg/wp-content/uploads/2018/12/summer.png" style="width:200px">
                    <h3>Халкидики Ситония</h3>
            </div>
        </div>
    </div>
</body>
</html>