@{
    ViewData["Title"] = "Sithonia";
}

<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="~/css/sithonia.css" type="text/css" />
    <script src="~/js/sithonia.js"></script>
</head>

<body>
    <div id="centre">
        <a href="/holidays/index">            
            <h2 style="text-align:center"><< ОРГАНИЗИРАНИ ПОЧИВКИ - ЛЯТО 2019</h2>
        </a>  
        </br>

        <h1>ХАЛКИДИКИ СИТОНИЯ</h1>
        <hr>
        <h3>ХОТЕЛ “OLYMPIC BIBIS” *** – МЕТАМОРФОСИ – СИТОНИЯ</h3>
        <p><strong>Разположение:</strong> Разположен в на 900 м. от селището Метаморфоси и на 200 метра от плажа, в близост до хотел Blue Dolphin.</p>
        <p><strong>Хотелски услуги:</strong> Ресторант, Бар, Паркинг, Басейн, Детска площадка, баскетболно игрище, мини маркет, безплатен безжичен интернет в общите части. Изхранването е на блок маса. Хотелът разполага с условия за хора в неравностойно положение. Чадъри и шезлонги на плажа – платени.</p>
        <p><strong>Стаи:</strong> 29 студиа и апартаменти с:  Телевизор, Климатик, Хладилник, Баня, Балкон</p>
        </br>

        <div class="row">
            <div class="column">
                <img src="https://www.melitours.bg/wp-content/uploads/2018/12/olympic_bibis6-1024x768.jpeg" style="width:100%" onclick="openModal();currentSlide(1)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img src="https://www.melitours.bg/wp-content/uploads/2018/12/olympic_bibis7-1024x768.jpeg" style="width:100%" onclick="openModal();currentSlide(2)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img src="https://www.melitours.bg/wp-content/uploads/2018/12/olympic_bibis5-1024x768.jpeg" style="width:100%" onclick="openModal();currentSlide(3)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img src="https://www.melitours.bg/wp-content/uploads/2018/12/olympic_bibis4-1024x768.jpg" style="width:100%;" onclick="openModal();currentSlide(4)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img src="https://www.melitours.bg/wp-content/uploads/2018/12/olympic_bibis3-1024x768.jpeg" style="width:100%" onclick="openModal();currentSlide(5)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img src="https://www.melitours.bg/wp-content/uploads/2018/12/olympic_bibis2-1024x768.jpeg" style="width:100%" onclick="openModal();currentSlide(6)" class="hover-shadow cursor">
            </div>
        </div>

        <div id="myModal" class="modal">

            <div class="caption-container">
                <p id="caption"></p>
            </div>

            <br>

            <div class="modal-content">

                <span class="close cursor" onclick="closeModal()">&times;</span>

                <div class="mySlides">
                    <div class="numbertext">1 / 6</div>
                    <img src="https://www.melitours.bg/wp-content/uploads/2018/12/olympic_bibis6-1024x768.jpeg" style="width:650px">
                </div>

                <div class="mySlides">
                    <div class="numbertext">2 / 6</div>
                    <img src="https://www.melitours.bg/wp-content/uploads/2018/12/olympic_bibis7-1024x768.jpeg" style="width:650px">
                </div>

                <div class="mySlides">
                    <div class="numbertext">3 / 6</div>
                    <img src="https://www.melitours.bg/wp-content/uploads/2018/12/olympic_bibis5-1024x768.jpeg" style="width:650px">
                </div>

                <div class="mySlides">
                    <div class="numbertext">4 / 6</div>
                    <img src="https://www.melitours.bg/wp-content/uploads/2018/12/olympic_bibis4-1024x768.jpg" style="width:650px">
                </div>

                <div class="mySlides">
                    <div class="numbertext">5 / 6</div>
                    <img src="https://www.melitours.bg/wp-content/uploads/2018/12/olympic_bibis3-1024x768.jpeg" style="width:650px">
                </div>

                <div class="mySlides">
                    <div class="numbertext">6 / 6</div>
                    <img src="https://www.melitours.bg/wp-content/uploads/2018/12/olympic_bibis2-1024x768.jpeg" style="width:650px">
                </div>

                <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                <a class="next" onclick="plusSlides(1)">&#10095;</a>

                <div class="column">
                    <img class="demo cursor" src="https://www.melitours.bg/wp-content/uploads/2018/12/olympic_bibis6-1024x768.jpeg" style="width:100%" onclick="currentSlide(1)" alt="ХОТЕЛ “OLYMPIC BIBIS” *** – МЕТАМОРФОСИ – СИТОНИЯ">
                </div>
                <div class="column">
                    <img class="demo cursor" src="https://www.melitours.bg/wp-content/uploads/2018/12/olympic_bibis7-1024x768.jpeg" style="width:100%" onclick="currentSlide(2)" alt="ХОТЕЛ “OLYMPIC BIBIS” *** – МЕТАМОРФОСИ – СИТОНИЯ">
                </div>
                <div class="column">
                    <img class="demo cursor" src="https://www.melitours.bg/wp-content/uploads/2018/12/olympic_bibis5-1024x768.jpeg" style="width:100%" onclick="currentSlide(3)" alt="ХОТЕЛ “OLYMPIC BIBIS” *** – МЕТАМОРФОСИ – СИТОНИЯ">
                </div>
                <div class="column">
                    <img class="demo cursor" src="https://www.melitours.bg/wp-content/uploads/2018/12/olympic_bibis4-1024x768.jpg" style="width:100%" onclick="currentSlide(4)" alt="ХОТЕЛ “OLYMPIC BIBIS” *** – МЕТАМОРФОСИ – СИТОНИЯ">
                </div>
                <div class="column">
                    <img class="demo cursor" src="https://www.melitours.bg/wp-content/uploads/2018/12/olympic_bibis3-1024x768.jpeg" style="width:100%" onclick="currentSlide(5)" alt="ХОТЕЛ “OLYMPIC BIBIS” *** – МЕТАМОРФОСИ – СИТОНИЯ">
                </div>
                <div class="column">
                    <img class="demo cursor" src="https://www.melitours.bg/wp-content/uploads/2018/12/olympic_bibis2-1024x768.jpeg" style="width:100%" onclick="currentSlide(6)" alt="ХОТЕЛ “OLYMPIC BIBIS” *** – МЕТАМОРФОСИ – СИТОНИЯ">
                </div>
            </div>
        </div>

        </br>
        <p style="color:rgb(255, 0, 0)" ;><strong>РАННИ ЗАПИСВАНИЯ –  ДО ДАТА 31/03/2019 – ПЛАЩАНЕ 50% ДО 16/04/2019</strong></p>

        <div class="scroller">
            <div class="outer">
                <div class="inner">
                    <table>
                        <tr>
                            <th class="fix">
                                <div align="right">ПЕРИОД</div></br></br>
                                <div align="left">ВИД СТАЯ  HB</div>
                            </th>
                            <th valign="top">
                                <div align="center">25/05-01/06</div>
                                <div align="center">01/06-08/06</div>
                                <div align="center">2019</div>
                            </th>
                            <th valign="top">
                                <div align="center">08/06-15/06</div>
                                <div align="center">2019</div>
                            </th>
                            <th valign="top">
                                <div align="center">15/06-22/06</div>
                                <div align="center">22/06-29/06</div>
                                <div align="center">2019</div>
                            </th>
                            <th valign="top">
                                <div align="center">29/06-06/07</div>
                                <div align="center">2019</div>
                            </th>
                            <th valign="top">
                                <div align="center">06/07-13/07</div>
                                <div align="center">2019</div>
                            </th>
                            <th valign="top">
                                <div align="center">13/07-20/07</div>
                                <div align="center">2019</div>
                            </th>
                            <th valign="top">
                                <div align="center">20/07-27/07</div>
                                <div align="center">27/07-03/08</div>
                                <div align="center">03/08-10/08</div>
                                <div align="center">10/08-17/08</div>
                                <div align="center">17/08-24/08</div>
                                <div align="center">24/08-31/08</div>
                            </th>
                            <th valign="top">
                                <div align="center">31/08-07/09</div>
                                <div align="center">2019</div>
                            </th>
                            <th valign="top">
                                <div align="center">07/09-14/09</div>
                                <div align="center">14/09-21/09</div>
                                <div align="center">2019</div>
                            </th>
                            <th valign="top">
                                <div align="center">21/09-28/09</div>
                                <div align="center">2019</div>
                            </th>
                        </tr>
                        <tr>
                            <td class="fix">В двойна и тройна стая с допълнително легло</td>
                            <td><div align="center">389 лв.</div></br></td>
                            <td><div align="center">484 лв.</div></td>
                            <td><div align="center">552 лв.</div></td>
                            <td><div align="center">622 лв.</div></td>
                            <td><div align="center">650 лв.</div></td>
                            <td><div align="center">689 лв.</div></td>
                            <td><div align="center">718 лв.</div></td>
                            <td><div align="center">576 лв.</div></td>
                            <td><div align="center">552 лв.</div></td>
                            <td><div align="center">389 лв.</div></td>
                        </tr>
                        <tr>
                            <td class="fix">В апартамент с 2 спални</td>
                            <td><div align="center">525 лв.</div></td>
                            <td><div align="center">644 лв.</div></td>
                            <td><div align="center">727 лв.</div></td>
                            <td><div align="center">800 лв.</div></td>
                            <td><div align="center">829 лв.</div></td>
                            <td><div align="center">882 лв.</div></td>
                            <td><div align="center">922 лв.</div></td>
                            <td><div align="center">755 лв.</div></td>
                            <td><div align="center">727 лв.</div></td>
                            <td><div align="center">525 лв.</div></td>
                        </tr>
                        <tr>
                            <td class="fix">3-ти възр. в двойна и тройна стая</td>
                            <td><div align="center">265 лв.</div></td>
                            <td><div align="center">313 лв.</div></td>
                            <td><div align="center">348 лв.</div></td>
                            <td><div align="center">382 лв.</div></td>
                            <td><div align="center">396 лв.</div></td>
                            <td><div align="center">415 лв.</div></td>
                            <td><div align="center">429 лв.</div></td>
                            <td><div align="center">360 лв.</div></td>
                            <td><div align="center">349 лв.</div></td>
                            <td><div align="center">265 лв.</div></td>
                        </tr>
                        <tr>
                            <td class="fix">3-ти и 4-ти възрастен в апартамент</td>
                            <td><div align="center">246 лв.</div></br></td>
                            <td><div align="center">256 лв.</div></td>
                            <td><div align="center">260 лв.</div></td>
                            <td><div align="center">260 лв.</div></td>
                            <td><div align="center">260 лв.</div></td>
                            <td><div align="center">260 лв.</div></td>
                            <td><div align="center">260 лв.</div></td>
                            <td><div align="center">260 лв.</div></td>
                            <td><div align="center">260 лв.</div></td>
                            <td><div align="center">246 лв.</div></td>
                        </tr>
                        <tr>
                            <td class="fix">5-ти възрастен в апартамент</td>
                            <td><div align="center">290 лв.</div></td>
                            <td><div align="center">304 лв.</div></td>
                            <td><div align="center">310 лв.</div></td>
                            <td><div align="center">310 лв.</div></td>
                            <td><div align="center">310 лв.</div></td>
                            <td><div align="center">310 лв.</div></td>
                            <td><div align="center">310 лв.</div></td>
                            <td><div align="center">310 лв.</div></td>
                            <td><div align="center">310 лв.</div></td>
                            <td><div align="center">290 лв.</div></td>
                        </tr>
                        <tr>
                            <td class="fix">1-во дете 0-5,99 г. и 2-ро дете 0-2,99 г. във всички стаи и 2-ро дете от 2-11,99 г. в апартамент</td>
                            <td><div align="center">75 лв.</div></br></br></td>
                            <td><div align="center">75 лв.</div></td>
                            <td><div align="center">75 лв.</div></td>
                            <td><div align="center">75 лв.</div></td>
                            <td><div align="center">75 лв.</div></td>
                            <td><div align="center">75 лв.</div></td>
                            <td><div align="center">75 лв.</div></td>
                            <td><div align="center">75 лв.</div></td>
                            <td><div align="center">75 лв.</div></td>
                            <td><div align="center">75 лв.</div></td>
                        </tr>
                        <tr>
                            <td class="fix">2-ро дете 2-5.99 г. и 1-во дете 6-11,99 г. в двойна и тройна стая</td>
                            <td><div align="center">172 лв.</div></br></td>
                            <td><div align="center">200 лв.</div></td>
                            <td><div align="center">220 лв.</div></td>
                            <td><div align="center">236 лв.</div></td>
                            <td><div align="center">243 лв.</div></td>
                            <td><div align="center">251 лв.</div></td>
                            <td><div align="center">257 лв.</div></td>
                            <td><div align="center">225 лв.</div></td>
                            <td><div align="center">220 лв.</div></td>
                            <td><div align="center">172 лв.</div></td>
                        </tr>
                        <tr>
                            <td class="fix">2-ро дете 6-11,99 в тройна стая</td>
                            <td><div align="center">209 лв.</div></td>
                            <td><div align="center">249 лв.</div></td>
                            <td><div align="center">278 лв.</div></td>
                            <td><div align="center">306 лв.</div></td>
                            <td><div align="center">318 лв.</div></td>
                            <td><div align="center">332 лв.</div></td>
                            <td><div align="center">342 лв.</div></td>
                            <td><div align="center">287 лв.</div></td>
                            <td><div align="center">278 лв.</div></td>
                            <td><div align="center">209 лв.</div></td>
                        </tr>
                        <tr>
                            <td class="fix">3-ро дете 2-11,99 в апартамент</td>
                            <td><div align="center">228 лв.</div></td>
                            <td><div align="center">239 лв.</div></td>
                            <td><div align="center">243 лв.</div></td>
                            <td><div align="center">243 лв.</div></td>
                            <td><div align="center">243 лв.</div></td>
                            <td><div align="center">243 лв.</div></td>
                            <td><div align="center">243 лв.</div></td>
                            <td><div align="center">243 лв.</div></td>
                            <td><div align="center">243 лв.</div></td>
                            <td><div align="center">228 лв.</div></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <p><strong><u>ЦЕНАТА</u></strong> е на човек, в лева, за пакет включващ: <strong>Транспорт</strong> в двете посоки, <strong style="color:rgb(255, 0, 179)" ;>7 нощувки със закуски и вечери</style></strong> на блок-маса и медицинска застраховка!</p>
        <p><strong style="color:rgb(0, 0, 255)" ;>Забележка:</strong> Капацитетът на Двойната стая е максимум 3+1 бебе (0-1,99г)</p>
        <p><strong style="color:rgb(0, 0, 255)" ;>Забележка:</strong> Капацитетът на Тройната стая с допълнително легло е максимум 3+1 дете (2-5,99г)</p>
        <p style="color:rgb(255, 0, 0)" ;>*Цената не включва туристическа такса от 1,50 € на стая на вечер, която се заплаща на място в хотела.</p>
        <p><strong style="color:rgb(255, 0, 179)" ;>Анулационни срокове:</strong><strong style="color:rgb(100, 100, 100)" ;> от 21 до 8 дни преди отпътуване – 50% неустойка; от 7 до 1 ден преди отпътуване – 100% неустойка.</strong></p>
        <hr>
    </div>
</body>
</html>